@{
    ViewBag.Title = "About Inspotivity";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Inspotivity was born out of frustration in not having a spot to keep all my own sewing patterns and all the information I need while out shopping.</p>
<p>While it's easy to take pictures of everything, it would be great to have a space where I am able to see what kind, and how much fabric I need for each pattern I have, and any other information like notions or any alterations I made to the pattern. In comes Inspotivity!</p>
<p>We hope that in the future, this can turn into a place for Inspiration and Creativity, somewhere to show off things you've made, and to see things other people are making!</p>
