@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>


<address>
    <i class="glyphicon glyphicon-envelope"></i>  &nbsp <a href="mailto:kristen@zappulla.me">  kristen@zappulla.me</a><br />
</address>