@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Inspotivity</h1>
    <p class="lead">Inspotivity is here to help keep your sewing patterns organized, so you never buy the same one again.....unless you want to!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Paper Patterns</h2>
        <p>
            Here is where you can enter all your paper patterns with usefull on-th-go basic pattern needs
        </p>
        <p><a class="btn btn-default" href="https://localhost:44317/PaperPattern/Index">Go to Paper Patterns &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>