@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Inspotivity</h1>
    <p class="lead">Inspotivity is here to help keep your sewing patterns organized, so you never buy the same one again.....unless you want to!</p>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Paper Patterns</h3>
            </div>
            <div class="panel-body">
                <p>Here is where you can enter all your paper patterns with usefull on-the-go basic pattern needs</p>
                <p><a class="btn btn-default" href="https://localhost:44317/PaperPattern/Index">Go to Paper Patterns &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Fabrics</h3>
            </div>
            <div class="panel-body">
                <p>Here is where you can enter all your fabric</p>
                <p><a class="btn btn-default" href="https://localhost:44317/Fabric/Index">Go to my Fabrics &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Measurements</h3>
            </div>
            <div class="panel-body">
                <p>All your measurements will be stored here for anyone you'd like to have on hand, yourself, your significant other, children, etc.</p>
                <p><a class="btn btn-default" href="https://localhost:44317/Measurement/Index">Go to my Measurements &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Makes</h3>
            </div>
            <div class="panel-body">
                <p>Here is where you will add all the things you make. You can attach the specific patterns, measurements and fabrics to each one</p>
                <p><a class="btn btn-default" href="https://localhost:44317/Make/Index">Go to Things I've Made &raquo;</a></p>
            </div>
        </div>
    </div>
</div>