@model IEnumerable<Inspotivity.Model.PaperPatternModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
            {
                <div class="alert alert-success fae in" role="alert">

                    <button type="button" class="close" data-dismiss="alert">
                        <span>&times;</span>
                    </button>
                    @TempData["SaveResult"]
                </div>
            }
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PaperPatternId)
        </th>
    </tr>
</table>
